
*{
    margin:0 auto;
}
.nav-container{
    width: 100%;
height: 100px;
/* background-color: aquamarine; */
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}

.nav-btn{
    box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
/* text-align: left; */
padding: 15px 30px 15px 30px;

}

/* banner styles */

.banner{
    width: 1280px;
height: 560px;
margin: 0 auto;
border-radius: 24px;

background: rgb(198, 228, 214);
}
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title{
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}

.banner-heading{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
margin-top: 16px;
margin-bottom: 24px;
}

.banner-btn{
    border-radius: 8px;

background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
padding: 17px 34px 17px 34px;
border: none;
}
.banner-img{
    margin-top: 80px;
}